@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/* Question and Single Answers */
body {
  margin: 0;
  background-color: #c3dda1;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
}

header {
  margin-bottom: 100px;
}

.button {
  padding: 20px 60px;
  margin: 10px 20px;
  background: #e65600;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

.border {
  border: black solid 2px;
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
}

.question-background {
  background: #f4b691;
  border-radius: 10px;
}
.answer-background {
  background-color: #c3dda1;
}

.corect-background {
  background-color: palegoldenrod;
}

#question-answer {
  padding: 10px;
  text-align: center;
  width: 400px;
}

/* End of Question and Single Answers */

/* Question and Multiple Answers */
/* .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px; */
/* border: solid black 4px; */
/* background-color: none;
  padding: 10px;
  margin: 10px;
  grid-template-areas:
    "Question Question Question Question"
    "Answer-1 Answer-1 Answer-2 Answer-2"
    "Answer-3 Answer-3 Answer-4 Answer-4";
  text-align: center;
} */

/* .Question {
  grid-area: Question;
}

.Answer-1 {
  grid-area: Answer-1;
}

.Answer-2 {
  grid-area: Answer-2;
}

.Answer-3 {
  grid-area: Answer-3;
}

.Answer-4 {
  grid-area: Answer-4;
} */

/* End of Questions and Multiple Answers */

#landing-page {
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: center;
}
#input-page {
  height: 100vh;
  width: 100%;
  position: relative;
}
#landing-image {
  max-height: 100vh;
  max-width: 100%;
  display: inline;
  position: absolute;
}

#question-image {
  max-height: 100vh;
  max-width: 100%;
  display: inline;
  position: absolute;
}

#start-button {
  text-align: center;
  /* display: inline; */
  position: absolute;
  margin-top: 100px;
}

#intro-text {
  float: left;
  text-align: left;
  /* display: inline; */
  position: absolute;
  display: block;
  margin-bottom: 200px;
  font-size: 1.5rem;
}

.block {
  position: relative;
  align-items: center;
  justify-content: space-evenly;
}

#category-text {
  margin-top: 200px;
}
