/* @import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap"); */

/* Question and Single Answers */
body {
  margin: 0;
  background-color: #c3dda1;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
}

input {
  font-size: 1.2rem;
}

#name-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#quantity-section {
  margin-top: 15px;
}
/* 
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
} */

header {
  margin-bottom: 100px;
}

.button {
  padding: 20px 60px;
  margin: 10px 20px;
  background: #e65600;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

.border {
  border: black solid 2px;
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
}

.question-background {
  background: #f4b691;
  border-radius: 10px;
}
.answer-background {
  background-color: #c3dda1;
}

.corect-background {
  background-color: palegoldenrod;
}

#question-answer {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  max-width: 700px;
}

/* End of Question and Single Answers */

/* Question and Multiple Answers */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  /* border: solid black 4px; */
  background-color: none;
  padding: 5px;
  margin: 5px;
  grid-template-areas:
    "Question Question Question Question"
    "Answer-1 Answer-1 Answer-2 Answer-2"
    "Answer-3 Answer-3 Answer-4 Answer-4";
  text-align: center;
}

.Question {
  grid-area: Question;
}

.Answer-1 {
  grid-area: Answer-1;
}

.Answer-2 {
  grid-area: Answer-2;
}

.Answer-3 {
  grid-area: Answer-3;
}

.Answer-4 {
  grid-area: Answer-4;
}

/* End of Questions and Multiple Answers */

#landing-page {
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: center; */
  flex-direction: row;
}
#input-page {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#landing-image {
  max-height: 100vh;
  max-width: 100%;
  display: inline;
  position: absolute;
}

#question-image {
  max-height: 100vh;
  max-width: 100%;
  display: inline;
  position: absolute;
}

#start-button {
  text-align: center;
  position: absolute;
  margin-top: 300px;
}

#intro-text {
  /* float: left; */
  text-align: left;
  /* display: inline; */
  position: relative;
  display: block;
  /* margin-bottom: 10px; */
  margin-right: 500px;
  margin-top: 100px;
  font-size: 2rem;
  font-weight: 400;
}
/* 
#logo-section {
  display: flex;
  flex-direction: row;
  position: relative;
} */

#logo-image {
  position: relative;
  width: 50%;
  float: right;
  margin-left: 200px;
  margin-bottom: 100px;
}

.block {
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  line-height: 30px;
}
#giphy-img {
  position: relative;
}
#category-text {
  margin-top: 200px;
  font-size: 2.5rem;
}

#submit-section {
  display: inline-flex;
}

#submit-button:hover {
  background-color: #a8530e;
}

#submit-button:active {
  position: relative;
  top: 1px;
}
.scorebutton {
  margin: 10px;
  background-color: #537e1b;
  -webkit-border-top-left-radius: 28px;
  -moz-border-radius-topleft: 28px;
  border-top-left-radius: 28px;
  -webkit-border-top-right-radius: 28px;
  -moz-border-radius-topright: 28px;
  border-top-right-radius: 28px;
  -webkit-border-bottom-right-radius: 28px;
  -moz-border-radius-bottomright: 28px;
  border-bottom-right-radius: 28px;
  -webkit-border-bottom-left-radius: 28px;
  -moz-border-radius-bottomleft: 28px;
  border-bottom-left-radius: 28px;
  text-indent: 0;
  border: 1px solid #18ab29;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #2f6627;
}
.scorebutton:hover {
  background-color: #678856;
}
.scorebutton:active {
  position: relative;
  top: 1px;
}

#score-section {
  display: flex;
  flex-direction: row;
}
form {
  padding: 10px 10px;
  margin: 10px 20px;
  background: #e65600;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

#joke-display {
  align-items: center;
}
@media only screen and (max-width: 1500px) {
  #intro-text {
    /* float: left; */
    text-align: left;
    /* display: inline; */
    position: absolute;
    display: block;
    margin-bottom: 10px;
    margin-right: 100px;
    font-size: 2rem;
    font-weight: 600;
    max-width: 400px;
  }

  #category-text {
    margin-top: 190px;
    font-size: 3rem;
    text-align: center;
  }

  #search-section {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #submit-button {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 700px) {
  #intro-text {
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 250px;
    margin-right: 200px;
  }
}

@media only screen and (max-width: 500px) {
  #intro-text {
    font-size: 1.3rem;
    margin-top: 60px;
    font-weight: 600;
    margin-right: 60px;
  }

  #category-text {
    margin-top: 130px;
    font-size: 2.5rem;
  }
  #giphy-button {
    display: none;
  }

  #start-button {
    margin-bottom: -70px;
  }
}

@media only screen and (max-width: 400px) {
  #category-text {
    margin-top: 130px;
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 370px) {
  #intro-text {
    font-size: 1.2rem;
  }

  #quantity-section {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
  }
}

@media only screen and (max-width: 300px) {
  #intro-text {
    font-size: 1.1rem;
    margin-left: 10px;
  }
}
