@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

/* Question and Single Answers */

.border {
  border: black solid 2px;
  padding: 10px;
}

.question-background {
  background-color: lightgreen;
}
.answer-background {
  background-color: lightyellow;
}

.question-answer {
  padding: 10px;
  text-align: center;
}

/* End of Question and Single Answers */

/* Question and Multiple Answers */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  border: solid black 4px;
  background-color: green;
  padding: 10px;
  margin: 10px;
  grid-template-areas:
    "Question Question Question Question"
    "Answer-1 Answer-1 Answer-2 Answer-2"
    "Answer-3 Answer-3 Answer-4 Answer-4";
  text-align: center;
}

.Question {
  grid-area: Question;
}

.Answer-1 {
  grid-area: Answer-1;
}

.Answer-2 {
  grid-area: Answer-2;
}

.Answer-3 {
  grid-area: Answer-3;
}

.Answer-4 {
  grid-area: Answer-4;
}

/* End of Questions and Multiple Answers */

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

header {
  margin-bottom: 100px;
}

.button {
  padding: 20px 60px;
  margin: 10px 20px;
  background: #e65600;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
}
