body {
  margin: 0;
  background-color: #c3dda1;
  font-family: "Kanit", sans-serif;
  font-size: 1.2rem;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  background-color: #e65600;
  flex-flow: nowrap;
  list-style-type: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #a8530e;
  transform: scale(1.1);
  color: white;
}

.navbar li {
  flex: 5;
}

.navbar .social {
  flex: 1;
}

input {
  font-size: 1.2rem;
}

#name-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#quantity-section {
  margin-top: 15px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  margin-bottom: 100px;
}

.button {
  padding: 20px 60px;
  margin: 10px 20px;
  background: #e65600;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

.border {
  border: black solid 2px;
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
}

.question-background {
  background: #f4b691;
  border-radius: 10px;
}

.answer-background {
  background-color: palegoldenrod;
}

.corect-background {
  background-color: #c3dda1;
}

#question-answer {
  padding: 10px;
  text-align: center;
  max-width: 700px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  background-color: none;
  padding: 5px;
  margin: 5px;
  grid-template-areas:
    "Question Question Question Question"
    "Answer-1 Answer-1 Answer-2 Answer-2"
    "Answer-3 Answer-3 Answer-4 Answer-4";
  text-align: center;
}

.Question {
  grid-area: Question;
}

.Answer-1 {
  grid-area: Answer-1;
}

.Answer-2 {
  grid-area: Answer-2;
}

.Answer-3 {
  grid-area: Answer-3;
}

.Answer-4 {
  grid-area: Answer-4;
}

#landing-page {
  height: 100vh;
  width: 100%;
  position: relative;
  justify-content: center;
  display: flex;

}

#input-page {
  height: 100vh;
  width: 100%;
  position: relative;
}

#category-text {
  margin-top: 80px;
}

#joke-page {
  margin-top: -50px;
  text-align: center;
}

#giphy-page {
  margin-top: -50px;
  text-align: center;
}

.hide {
  display: none;
}

#landing-image {
  max-height: 100vh;
  max-width: 100%;
  display: flex;
  position: absolute;

}

#question-image {
  max-height: 100vh;
  max-width: 100%;
  width: fit-content;
  display: inline;
  position: absolute;
  margin-top: -100px;
}

#start-button {
  text-align: center;
  position: absolute;
  margin-top: 300px;
}

#intro-text {
  display: none;
}

.block {
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  line-height: 30px;
}
#giphy-img {
  position: relative;
}
#category-text {
  font-size: 2.5rem;
}

#submit-section {
  display: inline-flex;
}

#submit-button:hover {
  background-color: #a8530e;
}

#submit-button:active {
  position: relative;
  top: 1px;
}

.scorebutton {
  margin: 10px;
  background-color: #537e1b;
  -webkit-border-top-left-radius: 28px;
  -moz-border-radius-topleft: 28px;
  border-top-left-radius: 28px;
  -webkit-border-top-right-radius: 28px;
  -moz-border-radius-topright: 28px;
  border-top-right-radius: 28px;
  -webkit-border-bottom-right-radius: 28px;
  -moz-border-radius-bottomright: 28px;
  border-bottom-right-radius: 28px;
  -webkit-border-bottom-left-radius: 28px;
  -moz-border-radius-bottomleft: 28px;
  border-bottom-left-radius: 28px;
  text-indent: 0;
  border: 1px solid #18ab29;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #2f6627;
}

.scorebutton:hover {
  background-color: #678856;
}

.scorebutton:active {
  position: relative;
  top: 1px;
}

#score-section {
  display: flex;
  flex-direction: row;
}

form {
  padding: 10px 10px;
  margin: 10px 20px;
  background: #e65600;
  border-radius: 30px;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

#joke-display {
  align-items: center;
}

#giphy-button {
  margin-bottom: 50px;
}

#explanation {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

#giphy-text {
  font-size: 3rem;
}

#joke-text {
  font-size: 3rem;
}

#joke-display {
  font-size: 1.5rem;
}

#next-button {
  margin-bottom: -50px;
}

#frog {
  width: 300px;
  position: relative;
  margin-bottom: 20px;
  margin-left: 500px;
  z-index: 2;
}

.joke-image {
  z-index: 1;
  position: absolute;
  margin-top: -90px;
  margin-left: 20px;
}

#joke-page {
  z-index: 1;
}

#index-mobile-background {
  visibility: hidden;
}

@media only screen and (max-width: 1500px) {
  #frog {
    width: 330px;
    margin-left: 300px;
  }

  #category-text {
    font-size: 3rem;
    text-align: center;
  }

  #search-section {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #submit-button {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1300px) {
  #landing-image {
    width: 80%;
  }

  #frog {
    margin-left: 250px;
  }
}

@media only screen and (max-width: 900px) {
  #frog {
    width: 250px;
  }
}

@media only screen and (max-width: 700px) {
  #frog {
    width: 180px;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    display: none;
  }

  #top-button {
    display: none;
  }

  #frog {
    width: 200px;
    margin-left: 150px;
  }

  #intro-text {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 30px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
  }

  #category-text {
    margin-top: 130px;
    font-size: 2.5rem;
  }

  #start-button {
    margin-bottom: -50px;
  }

  #question-image {
    display: none;
  }

  #landing-image {
    display: none;
  }

  #index-mobile-background {
    visibility: visible;
    align-self: flex-start;
    margin-top: -500px;
  }

  #frog-section {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    margin-bottom: 200px;
  }

  #frog {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 400px) {
  #category-text {
    margin-top: 130px;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 370px) {
  #intro-text {
    font-size: 1.2rem;
  }
  #quantity-section {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
  }

  #landing-image {
    min-width: 600px;
    margin-left: 300px;
  }
}

@media only screen and (max-width: 300px) {
  #intro-text {
    font-size: 1.1rem;
  }
}
